<template>
  <div>
    <div class="container my-md-4">
      <div class="row">
        <div class="col-lg-12 mb-md-5">
          <h4 class="text-center">Tabungan APP</h4>
        </div>
      </div>
      <div class="row mt-md-3">
        <div class="col-md-5">
          <div class="form-group">
            <label>Tipe</label>
            <select class="form-control" v-model="pilih" :class="{'border-danger': submitForm && (emptySelect)}">
              <option value disabled hidden>Pilih</option>
              <option v-for="tipe in type" :key="tipe.id">{{ tipe.name }}</option>
            </select>
            <small class="text-danger d-none py-md-2"  :class="{'d-block font-weight-bold': submitForm && emptySelect}">Tipe harus dipilih!</small>
          </div>
          <div class="form-group">
            <label>Jumlah</label>
            <input type="number" class="form-control" v-model="jumlah" placeholder="Jumlah" :class="{'border-danger': submitForm && (emptyJumlah)}" />
            <small class="text-danger d-none py-md-2"  :class="{'d-block font-weight-bold': submitForm && emptyJumlah}"> Jumlah Harus diisi!</small>
          </div>
          <div class="form-group">
            <label>Judul</label>
            <input type="text" class="form-control" v-model="judul" placeholder="Judul" :class="{'border-danger': submitForm && (emptyJudul)}" />
            <small class="text-danger d-none py-md-2"  :class="{'d-block font-weight-bold': submitForm && emptyJudul}"> Judul Harus diisi!</small>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-primary" @click="kirim">Submit</button>
          </div>
        </div>
        <div class="col-md-6 font-weight-bold ml-md-1">
          <div class="card px-md-3 py-md-3">
            <p>Total Pemasukan:</p>
            <p>IDR {{tot_pemasukkan}}</p>
            <p>Total Pengeluaran:</p>
            <p>IDR {{tot_pengeluaran}}</p>
            <p>Total Uang:</p>
            <p>IDR {{tot_pemasukkan - tot_pengeluaran}}</p>
          </div>
        </div>
      </div>
      <div class="row mt-md-3">
        <div class="col-md-11">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Tipe</th>
                <th scope="col">Jumlah</th>
                <th scope="col">Judul</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr v-if="tabungan.length < 1">
                <td colspan="5">
                  <div class="text-center">
                    No Data Available
                  </div>
                </td>

              </tr>
              <tr :class="[tabung.tipe == 'Pemasukkan'? 'text-primary':'text-danger']"
                v-for="(tabung,index) in tabungan" :key="index">
                <td>
                  <span v-show="formToShow !== index">{{tabung.tipe}}</span>
                  <select class="form-control" v-model="tabung.tipe" v-show="formToShow == index">
                    <option value disabled hidden>Pilih</option>
                    <option v-for="tipe in type" :key="tipe.id">{{ tipe.name }}</option>
                  </select>
                </td>
                <td>
                  <span v-show="formToShow !== index">{{tabung.jumlah}}</span>
                  <input type="number" class="form-control" v-model="tabung.jumlah" placeholder="Jumlah"
                    v-show="formToShow == index" />
                </td>
                <td>
                  <span v-show="formToShow !== index">{{tabung.judul}}</span>
                  <input type="text" class="form-control" v-model="tabung.judul" placeholder="Judul"
                    v-show="formToShow == index" />
                </td>
                <td>
                  <div v-show="formToShow !== index">
                    <button type="button" class="btn btn-primary" @click="formToShow = index">Edit</button>
                    |
                    <button type="button" class="btn btn-danger" @click="hapus(index)">Hapus</button>
                  </div>
                  <button type="button" class="btn btn-success" v-show="formToShow == index" @click="simpan(index)">Simpan</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>
<script src='./tabungan.js'></script>