<template>
  <div id="app">
   <Tabungan></Tabungan>
  </div>
</template>

<script>
import Tabungan from './components/Tabungan.vue'

export default {
  name: 'app',
  components: {
    Tabungan
  }
}
</script>

